aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-jinja2==1.6
aiosignal==1.4.0
attrs==25.3.0
cfgv==3.4.0
click==8.2.1
distlib==0.4.0
filelock==3.18.0
frozenlist==1.7.0
gitdb==4.0.12
GitPython==3.1.41
identify==2.6.12
idna==3.10
Jinja2==3.1.6
libtmux==0.46.2
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
msgpack==1.1.1
multidict==6.6.3
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pre_commit==4.2.0
propcache==0.3.2
Pygments==2.19.2
PyYAML==6.0.2
rich==14.1.0
setuptools==75.6.0
smmap==5.0.2
textual==5.3.0
textual-dev==1.7.0
textual-serve==1.1.2
typing_extensions==4.14.1
uc-micro-py==1.0.3
virtualenv==20.33.1
yarl==1.20.1
